.table {
    display: flex;
    flex-direction: column;
}

.row {
    /* background-color: greenyellow; */
    display: flex;
    flex-direction: row;
    padding: 1rem;
    padding-left: 0;
    /* padding: 0 1rem; */
    margin-bottom: 1rem;
}

.row + .row {
    border-top: 1px dotted #313132;
}

.rowBody {
    padding: 0 1rem;
}

.icon {
    width: 75px;
    height: 75px;
    background-color: black;
    display: inline-block;
}