.tag {
    display: inline-block;
    /* background-color: #F2F2F2; */
    padding: 0.5rem 0.75rem;
    /* border-color: #003366; */
    border: 2px solid #003366;
    border-radius: 100px;
    position: relative;
    transition: 0.3s;
    text-decoration: underline;
    color: #003366;
    margin-top: 0.5rem;
}

.tag:hover {
    /* background-color: white; */
    /* background-color: #003366; */
    background-color: rgb(240 247 255);
    transform: translateY(-2px);
}

.link {
    /* color: #1A5A96 */
    color: #003366;
}

.tag + .tag {
    margin-left: 0.5rem;
}

/* .tag + .tag::before {
    content: "/";
    position: absolute;
    left: 15px;
} */


.card {
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    max-width: 350px;
    min-width: 200px;
    background-color: #fafafa;
    position: relative;
    transition: 0.3s all;
    cursor: pointer;
    top: 0;
    flex: 1 1 10px;
    margin: 10px;
}

.card:hover {
    top: -10px;
    background-color: #f0f7ff
}

.card_title {
    font-size: 1.25rem;
    padding: 1rem 0.25rem;
    font-weight: bold;
}

.card_body {
    font-size: 0.9rem;
    border-top: 1px solid rgba(34,36,38,.1);
    padding: 1rem 0.25rem;
}

.card_footer {
    font-size: 0.8rem;
    border-top: 1px solid rgba(34,36,38,.1);
    color: grey;
    padding: 1rem 0.25rem;
}