.media {
    /* min-height: 340px;
    min-width: 560px;
    height: 100%;
    width: 100%;
    background-color: grey; */
}

.player {
    /* width: auto; */
    /* width-100% to set default size of video player before video loads, stops FOUT-ish jank */
    width: 100%;
    max-height: 75vh;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.missingMedia {
    color: green;
}


/* @media screen and (min-width: 1080px) {
    .player {
        float: right;
    }
} */